# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

#Secrets
.env
.env.*
!.env.example
k8s/review-db/secret.yaml
k8s/review-service/secret.yaml
k8s/booking-db/secret.yaml
k8s/booking-service/secret.yaml
k8s/user-db/secrets.yaml
k8s/user-deployment/secret.yaml
k8s/frontend-service/secret.yaml

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
desktop.ini